@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: lightblue ;

}


h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.navbar {
    background-color: #A4C8EC;
    background-image: none;
}

.jumbotron {
  background-color: WhiteSmoke;
}
